<div class="container">
<h1> Поиск по тэгу:</h1>  <div class="badge badge-primary">
  <%= @tag.name%> </div>

<% if tag.posts.empty? %>
  <h2> Статей нет </h2>
<% else %>
 <%= render @tag.posts %>
<%end %>
</div>